<!--<footer>
  <div class="main-div d-flex justify-content-between">
    <div class="links  d-flex justify-content-between">
      <div>
        <h3>Products</h3>
        <p class="link">Buy Crypto</p>
        <p class="link">Market</p>

      </div>
      <div >
        <h3>Support</h3>
        <p class="link">Help Center</p>
      </div>
      <div>
        <h3>About Us</h3>
        <p class="link">About BitTrade</p>
      </div>
    </div>
    <div>
      <a [routerLink]="['']" class="logo"><span class="bit">BIT</span><span class="trade">TRADE</span></a>
      <p class="description">
        © 2018-2022 Bybit.com. All rights reserved.
      </p>
    </div>
  </div>
</footer>-->
