<div class="all">
<h1>Service Exchange Rules</h1>
<p class="p">
  Before using the services of the {{name}} service, the User must fully familiarize himself with the Terms and Conditions of the provision of services by the {{name}} service. Using the services of the {{name}} service is possible only if the User accepts all the conditions of the agreement.
</p>
<pre>
  1. Terms and definitions
  1.1. {{name}} ("Service") is an electronic currency exchange service that provides services to Users using a special software interface located on the Internet at {{name}}.

  1.2. A user is any natural person who agrees to all the conditions offered by the Service and has acceded to this agreement.

  1.3. Electronic units (title units) - accounting units of the respective electronic settlement systems, indicating a certain amount of claim rights or other rights arising from the agreement of electronic settlement systems with its users.

  1.4. Electronic settlement system (payment system) - a software product created by a third party, which is a mechanism for the implementation of accounting for cash (electronic money) and / or other obligations. The main payment systems under this agreement are: Perfect Money, Payeer, Bitcoin, Qiwi, Yandex. The exact list of Payment systems is indicated on the Service website.

  1.5. Payment - transfer of electronic units from the payer to the recipient.

  1.6. Application - information submitted by the User using the tools of the Service in electronic form, indicating his intentions to use the services of the Service on the terms proposed by the Service and specified in the application parameters.

  1.7. User and {{name}} are collectively referred to as Parties.

  1.8. Currency exchange - exchange of electronic currency of one payment system for electronic currency of another payment system.

  1.9. The exchange rate is the value ratio of two electronic currencies when exchanging them.

  1.10. Reserves of electronic currencies - the amount of electronic currencies available to the Service or monetary funds for the provision of services. The amounts of reserves are indicated on the Service website on the main page.

  1.11. The website of the Service is {{name}}.

  2. The subject of the agreement and the procedure for its entry into force
  2.1. This agreement regulates the relationship between the User and the Service regarding the services provided by the Service to the User and cancels all previous agreements between the Service and the User on this subject.

  2.2. This agreement does not cancel the current legislation of the countries of registration and the location of the Service and the User, as well as the contractual relationship between the User and the Electronic Settlement System (s).

  2.3. This agreement is considered adopted on the terms of a public offer accepted by the User during the filing of the Application, which is an integral part of this agreement.

  2.3.1. A public offer is the information displayed by the Service on the parameters and conditions of the Application.

  2.3.2. Acceptance of a public offer is recognized by the User taking actions to complete the formation of the Application, confirming his intention to make a transaction with the Service on the terms proposed by the Service immediately before the completion of the application. In case of registration on the Service’s website, this agreement comes into force at the time of ticking the words “I agree with the terms of the offer” and clicking the “Register” button.

  2.3.3. The date and time of acceptance, as well as the parameters of the conditions of the Application are recorded by the Service automatically at the time of completion of the application.

  2.4. This agreement shall enter into force upon completion of the application by the User.

  2.5. This agreement shall terminate from the moment of receipt of the Electronic units in the details provided by the User in the amount provided for by the parameters of the User's Application, or from the moment the application is canceled.

  2.6. The parties acknowledge this agreement in electronic form as equivalent in legal force to a contract concluded in writing.

  2.7. The service reserves the right to unilaterally amend this agreement without notifying the User accordingly, but with the obligatory publication of the current version of the agreement on this page.

  3. Subject of the agreement, the cost of services provided
  3.1. The subject of this Agreement is the exchange, purchase and sale of title units of electronic payment systems, carried out by order of the User, as well as other services described on the Service website.

  3.2. The amount of the {{name}} Service fee for these actions is reflected in the Application and confirmed by the User on one of the pages of the user interface.

  3.3. The cost of the services of the {{name}} Service is set by the management of the Service and published on the Service website.

  3.4. Service {{name}} has the right to independently change the exchange rates of Electronic currencies and fees charged at any time unilaterally, as notified by the Service Users by posting information about these changes on the Service website.

  3.5. In the Application created by the User on the Service website, the Course, the Exchange Method, as well as the total amount of transferred funds or electronic currency are indicated.

  3.6. The {{name}} Service will charge the value of its fee at the time of the corresponding Operation.

  4. Terms of Service
  4.1. The order of services by the {{name}} Service is carried out by the User by sending an Application through the Service website.

  4.2. Management of the exchange process or obtaining information on the progress of the service by the User is carried out using the appropriate user interface located on the Service website.

  4.3. Processing of User Applications is carried out by the Service in strict accordance with the privacy policy (clause 5 of this agreement), as well as the policy to combat money laundering and the prevention of illegal operations (clause 6 of this agreement).

  4.4. Accounting of transactions with electronic units is carried out by the Service in accordance with the regulations, rules and format of the relevant Electronic Settlement Systems.

  4.5. Any completed operation performed by the Service at the request of the User is considered irrevocable, i.e. cannot be canceled by the User after its completion - the receipt by the User of the transaction due to him under previously accepted terms.

  4.6. In case of non-receipt from the User of electronic units within one hour from the moment of the User’s acceptance of the details provided by the Service, the agreement on the conditions specified in the Application shall be deemed unilaterally terminated by the Service as not entered into force without notice to the User.

  4.7. In the event of termination of the agreement, Electronic units received after the above period shall be returned to the sender's details within the next 24 hours. When making a refund, all commission costs for the transfer of Electronic units are made from the funds received at the expense of the User. The Service is not responsible for possible delays in return if they occurred through no fault of the Service.

  4.8. In the event that the number of received Electronic units differs from the one declared by the User, the Service may unilaterally terminate the agreement by refusing to execute the application and returning the received funds to the sender's details within the next 24 hours. When making a refund, all commission costs for the transfer of Electronic units are made from the funds received at the expense of the User. The Service is not responsible for possible delays in return if they occurred through no fault of the Service.

  4.9. If you do not send a monetary equivalent to the details specified by the User within 24 hours from the date of receipt of payment from the User, if there are no reasons to block Electronic units received at the User’s request from the Service, the User may request termination of the agreement by canceling his application and returning electronic units in full.

  4.10. The request to cancel the application should be fulfilled by the Service only if, at the time of receipt of such a request, the money equivalent was not sent to the details specified by the User.

  4.11. In case of cancellation of the application, the Electronic units are returned by the Service to the sender's details within 24 hours from the receipt of the cancellation request. The Service is not responsible for possible delays in return if they occurred through no fault of the Service.

  4.12. The service has the right to attract third-party performers to fulfill its obligations.

  4.13. The Service has the right to cancel the ongoing operation and return the Electronic units and / or financial funds contributed by the User with the reimbursement of the fees of the Electronic Payment Systems to the User without explanation.

  4.14. The Service has the right to refuse further maintenance to the User in case of violation by the User of any of the clauses of this agreement.

  4.15. All subsequent Applications created by the User after the Service refuses to continue servicing the User are automatically frozen.

  4.16. The service has the right to delay the execution of the transaction until the identification of the User is carried out, using a phone call, as well as in other ways that do not contradict the current legislation.

  4.17. When using the services of the {{name}} Service, the User confirms that he legally owns and disposes of the funds and electronic currency participating in the relevant Payment.

  4.18. The User undertakes to independently calculate and pay all taxes required in accordance with the tax laws of the location of the User.

  4.19. Special conditions of some Payment systems:

  - when the User sends money in the Yandex.Money payment system, the transfer is frozen for 24 hours, after the specified time the transfer is thawed.

  - when the User sends money in the Bitcoin, Litecoin, Ethereum cryptocurrencies, the exchange request will be accepted for execution after two confirmations of the transactions.

  4.20 The user guarantees that he is not involved in:

  - money laundering operations;

  - income from drug trafficking;

  - income from criminal and / or terrorist activities;

  - income from trade with countries trade with which is prohibited by international organizations;

  - income from any other illegal activity.

  4.21. The service has the right to require the client to create an application again in the event of a delay in confirming a cryptocurrency transaction for a period of more than 8 hours. The service also has the right to return money to the client, minus the wallet commission of the corresponding cryptocurrency.

  4.22 The service has the right to terminate the agreement unilaterally if the client has violated the procedure for using the service.

  4.22.1 The presence in the client’s actions of signs of violation of the procedure for using the service is determined at the discretion of the service.

  4.22.2 If the agreement is terminated unilaterally, the service makes a refund of the sender's details within 60 calendar days.

  4.22.3 Requisites for payment of applications are valid for 60 minutes, after this time, transfers are not counted and cannot be returned.

  4.22.4 Transfers to our details without creating an exchange request are not counted as payment and cannot be returned.

  4.22.5 If the workload of the Bitcoin network is high, the processing time for applications in the direction of Bitcoin delivery can be increased up to 40 minutes.

  4.22.6 In the direction of the "Qiwi" payment system, the payment is accepted to the mobile balance. Payment is accepted exclusively in accordance with the chosen direction. Transfer to the "Qiwi" wallet is not counted as payment.

  5. Privacy Policy
  5.1. For operations, the Service accepts from the User his personal data, which the Service undertakes to store in encrypted form, not to make it public, not to transfer it to third parties, with the exception of cases described in clauses 5.4, 5.5 and 6.5 of this agreement.

  5.2. All operations with Applications, as well as the transfer of personal data from the User to the Service, are carried out via an encrypted SSL channel with a key length of 256 bits.

  5.3. The service has the right, if necessary, to independently carry out activities to collect additional data about the User by any available means. All information collected as a result of such activities is not made public, is not transferred to third parties, with the exception of cases described in clauses 5.4, 5.5 and 6.5 of this agreement.

  5.4. The Service has the right to transfer the User’s personal data and details of operations performed by it, provided that their confidential status is maintained upon an official written request / court decision / own initiative (in the event of a need for an investigation) to the law enforcement authorities, as well as to the User to whom they belong.

  5.5. The Service has the right to transmit the details of the operation and the User’s personal data related to the operation at the official request of the Electronic Settlement System for conducting internal investigations.

  5.6. All collected data about the User, as well as details of the operations performed by him, are stored in the Service database for three years from the moment the Service fulfilled the last User Application.

  6. Anti-Money Laundering and Illegal Transactions Policy.
  6.1. In accordance with international law, {{name}} adheres to a number of rules and implements a number of procedures aimed at preventing the use of the Service for the purpose of conducting money laundering operations, that is, actions aimed at returning money or other securities of illegal origin to the financial and economic market, representing their purchase and their possession is completely legal and normal, as well as conducting other operations that are illegal.

  6.2. In order to prevent illegal operations, the Service establishes certain requirements for all Applications created by the User:

  6.2.1. The sender and receiver of the Payment on the Application must be the same person. Using the services of the Service, transfers in favor of third parties are strictly prohibited.

  6.2.2. All contact data entered by the User in the Application, as well as other personal data transmitted by the User to the Service, must be relevant and fully reliable.

  6.2.3. It is strictly forbidden to create Applications by the User using anonymous proxy servers or any other anonymous Internet connections.

  6.3. To prevent illegal operations, Service:

  - Uses an internal system for automated analysis of transactions and user behavior (fraud prevention system), which stops all suspicious transactions of the user.

  - Sets limits on the operations of the User, depending on the level of identification of the User’s identity and country of origin.

  - Adheres to the policy "Know your customer."

  - Carries out verification by all available methods of all data provided by the User.

  6.4. The Service reserves the right to freeze all current Applications of the User until the moment of receipt from the User of copies of documents proving the identity of the User, as well as the source of origin of Electronic Units and other information necessary to verify the operation in the following cases:

  - In case of violation of any of the requirements presented in paragraph 6.2 of this Agreement.

  - When stopping the User Application by the fraud prevention system.

  - If there are reasonable suspicions in the administration of the Service that the user is trying to use the services of the Service for money laundering or for any other illegal operations.

  In turn, the User agrees to submit the requested document within 7 business days from the receipt of a request for its provision, or to request the cancellation of the application.

  6.4.1. In case of the User’s refusal to submit the requested documents, the Service reserves the right to refuse the User further service and take the actions described in clause 4.10 of this agreement.

  6.5. The Service reserves the right to refuse further maintenance to the User and take the actions described in clause 4.7 of this agreement, after which transfer all user data available to the Service, as well as all available information about the User’s operations to law enforcement agencies in the following cases:

  - Identification of transactions whose purpose is money laundering, financing of terrorist organizations, fraud of any kind, as well as transactions aimed at conducting any other illegal and illegal operations.

  - If there is a reasonable suspicion of the Service that the document provided by the User to identify the User’s identity is fake or invalid.

  - Receipt of information from authorized bodies on the unauthorized possession of electronic units or financial means by the User and / or other information that makes it impossible to provide services to the User by the Service.

  - Identification of any actions or attempts to perform actions by the User aimed at exerting any negative impact on the software and hardware complex of the Service.

  - Identification of any actions or attempts to perform actions by the User aimed at the theft of databases and other tangible and intangible property of the Service.

  - Identification of any actions or attempts to perform actions by the User that can cause any physical, tangible and intangible damage to the Service.

  6.6. The service reserves the right to verify by all means available to it personal and any other information received from the User.

  7. Limitation of liability
  7.1. Service is not a bank. The service offers its services around the clock, seven days a week and will strive to ensure that the hardware-software complex that implements the capabilities of the Service works without failures.

  7.2. The Service provides its services on an “as is” basis, as described on the pages of the Service website and does not offer any additional guarantees.

  7.3. Using the Service, the User agrees that the liability of the Service is limited to the funds received from the User for the execution of the subject of this agreement, that the Service does not provide additional guarantees and does not bear any additional responsibility to the User, just like the User does not bear additional responsibility to the Service, except as specified in clause 7.9.

  7.4. The service will make every effort, but does not guarantee that its services will be available around the clock, daily. The Service does not bear any responsibility for losses, lost profits and other costs of the User that arose as a result of the inability to gain access to the site and the services of the Service.

  7.5. The Service does not bear any responsibility for losses, lost profits and other costs of the User resulting from delays, errors or failures in the conduct of bank payments or electronic transfers.

  7.6. The Service does not bear any responsibility for losses, lost profits and other costs of the User resulting from the erroneous expectations of the User regarding the tariff rates of the Service, profitability of transactions and other subjective factors.

  7.7. In the event that the User provides erroneous data in the information about the details of the recipient of funds, the Service does not bear any responsibility for any adverse consequences or damage resulting from this error.

  7.8. Using the services of the Service, the User is solely responsible for paying taxes in accordance with the tax laws of the country at his place of residence. The Service is not a tax agent, and will not notify the User of any possible tax costs when using the services of the Service.

  7.9. The User guarantees compensation for losses of the Service (management company, managers and employees) in the event of filing claims or claims directly or indirectly related to the use of the Services by the User, with the exception of losses caused by the guilty (intentional or reckless) actions of the Service itself.

  7.10. The user agrees to refrain from using the services of the Service for fraudulent and illegal operations and agrees that any attempt to exchange fraudulent capital will be prosecuted to the fullest extent of the law. The actions of the User may be considered illegal in accordance with the legislation of the country of residence of the User and / or the country where the Service is registered.

  7.11. The user agrees not to falsify the communication flows associated with the operation of the Service, not to interfere with its software and / or hardware, and not to exert any other influence that could disrupt the normal operation of the Service, realizing that such actions will be prosecuted throughout the severity of the law.

  7.12. In case of detection of falsification of communication flows or any negative impact on the normal operation of the Service program code that is directly or indirectly related to the User’s application, the application will be suspended by the Service, and then the actions described in clause 6.5 of this agreement will be taken.

  7.13. Neither the User nor the Service will be liable to each other for delays or non-fulfillment of their obligations resulting from force majeure circumstances, including natural disasters, fire, floods, terrorist acts, changes of power, civil unrest, as well as non-functioning of Electronic Payment Systems, power supply systems, communication networks and Internet service providers.

  7.14. Electronic payment systems and / or financial institutions are solely responsible for the funds entrusted to them by the User. The Service may not be a party to the agreement between the Payment System and / or financial institution and the User, and shall not be liable in any way for the incorrect or unauthorized use of the capabilities of the Electronic Payment System by the User, as well as for the abuse by the User of the functionality of the Electronic Payment System. Mutual rights and obligations of the User and the Electronic Payment System and / or financial institution are governed by the relevant agreements.

  7.15. User warrants that he is not a citizen and tax resident of the United States of America.

  7.16. All funds received by our service after three months, after the creation of the application, go to the service of {{name}}. The service subsequently may dispose of these funds at its discretion.

  7.17. All funds received by the {{name}} service without creating applications goes to the service.

  7.18. The user who indicated the wrong details for the exchange, agrees to provide the correct details for the exchange within three months from the date of creation of the application. Otherwise, all funds are available to the {{name}} service.

  7.19. In case of receipt of an amount from the User, the amount of which differs from that indicated in the application, the "{{name}}" service may suspend the exchange, and after the User requests the payment of the actually received amount at the rate at the beginning of the operation.

  7.20 In case of direct or indirect actions of the client, the service incurs losses, the client is obliged to compensate the damage caused to the service in the amount of 100%. After the fact of damage has been established, all current and future paid applications are transferred to the service until the damage is fully covered. Further service to the client may be denied, the decision remains with the administration of the service.

  7.21. On the recommendation of the payment system, in order to avoid fraudulent actions, the client’s payment can be frozen for up to 24 hours, after the application will be executed.

  8. Procedure for making claims and resolving disputes
  8.1. Disputes and disagreements that arose as part of the provision of services by the Service to the User are resolved through negotiations between the User and the administration of the Service, based on the provisions of this agreement.

  8.1.1. Any claims under this agreement may be accepted by the Service in electronic form by sending a message on the essence of the claim for details (contact page) indicated on the Service website.

  8.2. If it is impossible to resolve issues arising through negotiations, the dispute is resolved in accordance with applicable law at the place of registration of the Service.

  8.3. In case of any attempt to deceive the system, circumvent the rules, we have the right not to pay your account and block your wallets in our system

  9. Final Provisions
  9.1. The {{name}} service has the right to send the User information on the status of the exchange process, as well as other information, including advertising, to the e-mail specified by him.

  9.2. Information on the site, including graphic images, text information, program codes, etc. is the property of {{name}} and is protected by copyright laws. Each case of unauthorized copying (full or partial) can be prosecuted under the current legislation.

  9.3. Acceptance of this offer means the Payer's unconditional consent to the processing by the Service of his personal data provided by the Payer Service in order to provide services, in order to send Payer messages of informational and advertising nature. Acceptance of the offer means the consent of the Payer to the Service to collect, systematize, accumulate, store, clarify (update, change), use, distribute (including transfer to third parties), depersonalize, block and destroy in relation to his personal data, to use when processing personal data in an automated, mechanical, manual or any other way at the discretion of the Service. The acceptance of this offer also confirms the Payer's unconditional consent that the completeness, reliability and accuracy of the information provided by the Payer can be verified by the Service, as well as provided by the Service to third parties for the purposes of such verification.

  9.4. This consent may be revoked at any time by the Payer by providing the Service with an application to withdraw consent to the processing of his personal data. This consent to the processing of personal data is granted for a period until the Payer withdraws consent to the processing of personal data.

  9.5. The User confirms that he has read all the provisions of this Agreement and, of course, accepts them, otherwise the User cannot use the {{name}} Service.

  By the way! If something went wrong, for more responsiveness, write to us in an online chat, a button for communication in the lower right part of the screen. Our experts will be happy to answer any of your questions.
</pre>
</div>
