

<div class="d-flex justify-content-center">

 
    
<div class="back-image">
  <p class="main-text">Easy, Fast and Safe!</p>
  <p class="description-text">We work around the clock</p>
  <div class="bg-div"></div>
</div>

<div class="form-div">
  <div class="text">
    <p class="main-text">Easy, Fast and Safe!</p>
    <p class="description-text">We work around the clock</p>
  </div>
  
  <form action="/" method="post" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-box">
      <div class="give-div">
        <div class="img-and-select">
          <div class="img-div">
            <img class="wallet_img" [src]="!form.get('giveType').value ? '../../../assets/icons/btc.svg':'../../../assets/icons/' + form.get('giveType').value + '.svg'" [alt]="form.get('giveType').value" />
          </div>

          <br />
          <div class="select-div">
            <mat-form-field class="select" appearance="">
              <mat-select formControlName="giveType">
                <mat-option (click)="selectGive('btc','BTC')" value="btc">BTC</mat-option>
                <mat-option (click)="selectGive('eth','ETH')" value="eth">ETH</mat-option>
                <mat-option (click)="selectGive('doge','DOGE')" value="doge">DOGE</mat-option>
                <mat-option (click)="selectGive('xmr','XMR')" value="xmr">XMR</mat-option>
                <mat-option (click)="selectGive('ltc','LTC')" value="ltc">LTC</mat-option>
                <mat-option (click)="selectGive('bnb','BNB')" value="bnb">BNB</mat-option>
                <mat-option (click)="selectGive('ada','ADA')" value="ada">ADA</mat-option>
                <mat-option (click)="selectGive('sol','SOL')" value="sol">SOL</mat-option>
                <mat-option (click)="selectGive('xrp','XRP')" value="xrp">XRP</mat-option>
                <!--<mat-option (click)="selectGive('card','USD')" value="usd">CARD</mat-option>-->
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="input-div">
          <input class="inputWithBtn inputValues" type="number" formControlName="give" placeholder="Give amount" required />
          <mat-error *ngIf="form.get('give').errors?.required && form.get('give').touched">{{error.required}}</mat-error>
          <mat-error *ngIf="form.get('give').errors?.pattern && form.get('give').touched">{{error.onlyPositive}}</mat-error>
          <mat-error *ngIf="form.get('give').errors?.min && form.get('give').touched">{{error.min(minSumm)}}</mat-error>
          <mat-error *ngIf="form.get('give').errors?.max && form.get('give').touched">{{error.max(maxSumm)}}</mat-error>
        </div>

      </div>
      <!--<img class="arrow-img" src="../../../assets/icons/arrows.svg" alt="Alternate Text" />-->
      <div class="receive-div">
        <div class="img-and-select">
          <div class="img-div">
            <img class="wallet_img" [src]="!form.get('receiveType').value ? '../../../assets/icons/btc.svg':'../../../assets/icons/' + form.get('receiveType').value + '.svg'" [alt]="form.get('receiveType').value" />
          </div>
          <br />
          <div class="select-div">
            <mat-form-field class="select" appearance="">
              <mat-select formControlName="receiveType">
                <mat-option (click)="selectReceive('btc','BTC')" value="btc">BTC</mat-option>
                <mat-option (click)="selectReceive('eth','ETH')" value="eth">ETH</mat-option>
                <mat-option (click)="selectReceive('doge','DOGE')" value="doge">DOGE</mat-option>
                <mat-option (click)="selectReceive('xmr','XMR')" value="xmr">XMR</mat-option>
                <mat-option (click)="selectReceive('ltc','LTC')" value="ltc">LTC</mat-option>
                <mat-option (click)="selectReceive('bnb','BNB')" value="BNB">BNB</mat-option>
                <mat-option (click)="selectReceive('ada','ADA')" value="ADA">ADA</mat-option>
                <mat-option (click)="selectReceive('sol','SOL')" value="sol">SOL</mat-option>
                <mat-option (click)="selectReceive('xrp','XRP')" value="xrp">XRP</mat-option>
                <mat-option (click)="selectReceive('card','USD')" value="usd">CARD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="input-div">
          <input disabled class="inputWithBtn inputValues" type="number" formControlName="receive" placeholder="Receive amount" required />
          <mat-error *ngIf="form.get('receive').errors?.required && form.get('receive').touched">{{error.required}}</mat-error>
          <mat-error *ngIf="form.get('receive').errors?.pattern && form.get('receive').touched">{{error.onlyPositive}}</mat-error>
          <mat-error *ngIf="form.get('receive').errors?.min && form.get('receive').touched">{{error.min(minSumm)}}</mat-error>
          <mat-error *ngIf="form.get('receive').errors?.max && form.get('receive').touched">{{error.max(maxSumm)}}</mat-error>
        </div>


      </div>
      <div class="email-div">
        <input class="inputValues" type="text" name="name" value="" placeholder="Your email" formControlName="email" />
      </div>
      <div class="errors-div">
        <mat-error *ngIf="form.get('email').errors?.required && form.get('email').touched">{{error.required}}</mat-error>
        <mat-error *ngIf="form.get('email').errors?.pattern && form.get('email').touched">{{error.email}}</mat-error>
      </div>

      <div class="wallet-div">
        <input class="inputValues" type="text" name="name" value="" placeholder="Your wallet" formControlName="wallet" />
      </div>
      <div class="errors-div">
        <mat-error *ngIf="form.get('wallet').errors?.required && form.get('wallet').touched">{{error.required}}</mat-error>
        <mat-error *ngIf="form.get('wallet').errors?.blockedWallet && form.get('wallet').touched">{{error.blockedWallet}}</mat-error>
        <mat-error *ngIf="form.get('wallet').errors?.wrongWallet && form.get('wallet').touched">{{error.wrongWallet}}</mat-error>
      </div>

      <div class="promo-div">

        <input class="inputValues promo-input" type="text" name="name" value="" placeholder="Your promocode" formControlName="promo" />
        <input [disabled]="!form.get('promo')?.value" type="button" class="promo-button" value="ACTIVATE" (click)="promo()" />
      </div>
      <div class="errors-div">
        <mat-error *ngIf="form.get('promo').errors?.promo">{{error.summError(summ)}}</mat-error>
        <mat-error *ngIf="form.get('promo').errors?.wrongPromo">{{error.wrongPromo}}</mat-error>
      </div>
      <div class="terms"><mat-checkbox formControlName="aggree" class="aggree">I agree to the terms and conditions of service</mat-checkbox></div>
      <div class="btn-div">
        <button type="submit" [disabled]="!form.get('aggree')?.value" class="submit-button">GO TO THE PAYMENT</button>
      </div>
    </div>
  </form>
</div>

</div>

