<div class="all-center">
<div class="mx-auto main">
  <h3 class="mb-4">Change your password</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex flex-column">
      <input class="inputField" matInput formControlName="password" placeholder="Password">
      <mat-error *ngIf="form.get('password')?.touched
               && form.get('password').errors?.required">{{ValidationMessages.requiredField('Password')}}</mat-error>
      <mat-error *ngIf="form.get('password').errors?.serverError">{{form.get('code').errors.message}}</mat-error>
      <mat-error *ngIf="form.get('password').errors?.pattern">{{ValidationMessages.wrongPass}}</mat-error>
      <button class="succesBtn" mat-raised-button type="submit">Change password</button>

    </div>
  </form>
</div>
</div>
